*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image:url(./image/img.jpeg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 430px;
    border:3.5px solid #878787;
    border-radius: 3%;
    backdrop-filter: blur(5px);
}

legend{
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(385deg, #35dd89 15%, #778ab9 );
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
p{
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    margin-top: 20px;
    opacity: .8;
}
button{
  background-color: rgba(255, 255, 255, 0.251);
  border: none;
  height: 40px;
  width: 120px;
  margin-top: 20px;
  margin-left: 24px;
  font-weight: 700;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  opacity: .8;
}